* {
 	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	color: #111;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 14px;
}

a.del:link, a.del:visited{
    color: #AAA;
    background-color: transparent;
    font-weight: bold;
    font-size:16px;
}
a.hover:hover, a.hover:active{
    color: #F44;
    background-color: transparent;
}

#flash-message {
	width: 200px;
	height: 30px;
	padding-top: 10px;
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
}
.flash-error {
	color: Red;
	background-color: #333;
	border: 1px solid #f00;
}

.flash-notify {
	color: #000;
	background-color: #333;
	border: 1px solid #000;
}

#main {
	border: 2px solid black;
	background-color: #EEE;
	margin: 25px auto;
	width: 960px;
}

#header {
	background-color: #CCC;
	padding: 15px 25px 15px 25px;
}

#login {
	float: right;
	text-align: right;
}
#show {
	float: right;
	text-align: right;
	padding-right: 20px;
    padding-top: 5px;
}

#show_stream{
    display:none;
}

#upload{
    width: 450px;
}

#links {
	float: left;
	margin: 25px 20px;
	width: 160px;
}

#links ul {
	list-style-type: none;
	margin-left: 0;
}

#links .btn {
	font-weight: bold;
	margin-bottom: 2px;
    width: 130px;
    text-align:left;
}

#accord .btn {
    margin-left:-5px;
}

#links li a {

	text-decoration: none;
}

#links li a:hover {
	background-color: transparent;
	color: white;
}

#text {
	border-left: 2px solid #CCC;
	margin: 25px 25px 25px 175px;
	padding: 0px 0px 0px 25px;
	min-height: 200px;
}

#footer {
	clear: both;
	color: #666;
	font-size: 10px;
	text-align: center;
}

label.error {
	float: none;
	color: red;
	padding-left: .5em;
	vertical-align: top;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #F44;
}
/*rikkoo jqueryui:n
a:hover, a:active {
	background-color: #F44;
	color: white;
}*/
#myMenu a:hover{
    background-color: #F44;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
	margin-bottom: 15px;
}

h3 {
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 20px;
}

p {
	margin-bottom: 10px;
}

ol, ul {
	margin-bottom: 10px;
	margin-left: 25px;
}

table.stats {
	border: 1px solid #CCC;
	border-collapse: collapse;
	margin-bottom: 10px;
	cursor: default;
}

table.stats th {
	background-color: #CCC;
	padding: 3px 15px 3px 3px;
	text-align: left;
}

table.stats td {
	border: 1px solid #CCC;
	padding: 3px 15px 3px 3px;
}
table.stats tr.type-löytötavara td{
    background-color: #EE82EE;
}

table.stats tr.type-ongelma td{
    background-color: #AA0000;
    color: #FFFFFF;
}

table.stats tr.type-tiedote td{
    background-color: #00AA00;
}

table.stats tr.type-kysely td{
    background-color: #EEEEEE;
}

table.stats tr.type-muu td{
    background-color: #33F;
    color: #FFFFFF;
}

table.stats tr.type-löytötavara-kuitattu td{
    background-color: #AA6699;
    color: #444;
    text-decoration: line-through;
    cursor:help
}

table.stats tr.type-ongelma-kuitattu td{
    background-color: #774444;
    color: #AAAAAA;
    text-decoration: line-through;
    cursor:help
}

table.stats tr.type-tiedote-kuitattu td{
    background-color: #447744;
    color: #444;
    text-decoration: line-through;
    cursor:help
}

table.stats tr.type-kysely-kuitattu td{
    background-color: #444444;
    color: #999;
    text-decoration: line-through;
    cursor:help
}

table.stats tr.type-muu-kuitattu td{
    background-color: #447;
    color: #AAAAAA;
    text-decoration: line-through;
    cursor:help
}
#ohjelmanumerot li{
    margin: 3px;
    padding: 2px;
}
#ohjelmanumerot .rope{
    background: red;
}
#ohjelmanumerot .anime{
    background: green;
}
#ohjelmanumerot .kunniavieras{
    background: yellow;
    color:black;
}
#ohjelmanumerot .muu{
    background: white;
}
/* Tämä tagataan jokaiseen uuteen ja muutettuun riviin rulla- ja scrollerhallinnassa */
.new {
    background-color: #a34000;
    color:#FFF;
}

#progress{
    color: black;
    padding-left:20px;
    padding-top:2px;
}
form {
	margin-bottom: 10px;
}

form table td {
	padding: 1px 5px 1px 0px;
}

form input {
	padding: 2px;
}

fieldset {
	margin-top: 20px;
	padding: 0;
	border: none;
}

.loota {
    float:left;
    flow-wrap:wrap;
    wrap-type:around;
    wrap-mode:all;
    overflow:hidden;
    clear:right;
    margin: 10px;
    border:1px solid black;
    min-height: 200px;
    min-width: 300px;
    max-width: 600px;
}

label.manual {
    float: left;
	display: block;
    width: 150px;
	margin-right: 0.5em;
	text-align: right;
}

/* Context menu style */
.contextMenu {
	position: absolute;
	width: 120px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: #EEE;
	padding: 0px;
	margin: 0px;
	display: none;
}

.contextMenu LI {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.contextMenu A {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
}

.contextMenu LI.hover A {
	color: #FFF;
	background-color: #3399FF;
}

.contextMenu LI.disabled A {
	color: #AAA;
	cursor: default;
}

.contextMenu LI.hover.disabled A {
	background-color: transparent;
}

.contextMenu LI.separator {
	border-top: solid 1px #CCC;
}