* {
 	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	color: #111;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 14px;
}

#flash-message {
	width: 200px;
	height: 30px;
	padding-top: 10px;
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
}
.flash-error {
	color: Red;
	background-color: #333;
	border: 1px solid #f00;
}

.flash-notify {
	color: #000;
	background-color: #333;
	border: 1px solid #000;
}

#main {
	border: 2px solid black;
	background-color: #EEE;
	margin: 25px auto;
	width: 960px;
}

#header {
	background-color: #CCC;
	padding: 15px 25px 15px 25px;
}

#user {
	float: right;
	text-align: right;
}

#text {
	margin: 25px;
}

#footer {
	clear: both;
	color: #666;
	font-size: 10px;
	text-align: center;
}

label.error {
	float: none;
	color: red;
	padding-left: .5em;
	vertical-align: top;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #F44;
}

a:hover, a:active {
	background-color: #F44;
	color: white;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
	margin-bottom: 15px;
}

h3 {
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 20px;
}

p {
	margin-bottom: 10px;
}

ol, ul {
	margin-bottom: 10px;
	margin-left: 25px;
}

table.stats {
	border: 1px solid #CCC;
	border-collapse: collapse;
	margin-bottom: 10px;
}

table.stats th {
	background-color: #CCC;
	padding: 3px 15px 3px 3px;
	text-align: left;
}

table.stats td {
	border: 1px solid #CCC;
	padding: 3px 15px 3px 3px;
}

form {
	margin-bottom: 10px;
}

form table td {
	padding: 1px 5px 1px 0px;
}

form input {
	padding: 2px;
}
