<?php defined('SYSPATH') or die('No direct script access.');

return array(
    'secret' => '',//A string which is appended to passwords. Make sure it's long and complex enough.
    'analytics' => array(
        'dev'  => '',
        'prod' => ''
    ),
    'nexmo' => array(//nexmo sms-gateway credentials
        'key' => '',
        'secret' => ''
    )
);
?>